.DS_Store
*.log
_env.php
.env
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/wflogs/
node_modules/
vitamin-login.php
nginx.config
nginx.conf
*.code-workspace
.vscode
/ewww
wp-content/db.php
**/vendor/10up/phpcs-composer/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
